footer{
    background-color:#0e3e57;
    padding: 3rem;
    h5 {
        color: white;
        text-align: center;
    }
    ul {
        color: white;
        li {
            list-style: none;
            font-size: 0.8rem;
            
            &:first-child {
                font-size: 1.3rem;
            }
            i {
                margin-right: 1rem;
            }
        }
    }
    form {
        input {
            width: 75%;
            border: none;
            border-radius: 5px;
            padding: 0.4rem 0;
            margin-right: 0.2rem;
        }

    }
}