// #product {
//     footer {
//         ul {
            
//         }
//     }
// }
$screen-md-min: 768px;
$screen-sm-min: 576px;

// @mixin sm {
//     @media (min-width: #{$screen-sm-min}) {
//                     display: flex;
// }
footer{
    background-color:#0e3e57;
    padding: 3rem;
    h5 {
        color: white;
        text-align: center;
    }
    ul {
        color: white;
        padding: 0;
        li {
            list-style: none;
            font-size: 0.8rem;
            
            &:first-child {
                font-size: 1.3rem;
            }
            
            i {
                margin-right: 1rem;
            }
        }
        
    }
    form {
        input {
            width: 75%;
            border: none;
            border-radius: 5px;
            padding: 0.4rem 0;
            margin-right: 0.2rem;
        }
        
    }
}
@media screen and (max-width : 767px) {
    
        .footer {
            .lastfooter{
                display: flex;
                justify-content: center;
                margin-top: 2rem;
            }
        }
}
@media screen and (max-width : 1023px) and (min-width : 768px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }
}