header {
    background-color:#281402;
    height: 100vh;
    width: 100%;
    nav{
        text-decoration:none;
        color: white;
            i {
                color: white;
            }
           a{
                text-decoration:none;
                color: white;
                &:hover {
                    color: white;
                }
            }     
    }
    .title {
        display: flex;
        height: 85%;
      justify-content: center;
      flex-direction: column;
      color: white;
      a{
          background-color:#a28f61;
          max-width: 25%;
          margin:0 auto;
          color: white;
        }
    }
    .arrow {
    
       display: flex;
       justify-content: flex-end;
       margin: 0 2rem 2.5rem 0;
       padding-bottom:2rem;
       color:#c9c4bf;
       a {
        text-decoration: none;
        color:#c9c4bf;
       }
    }
}

main {
    padding-bottom:5rem;
    margin: auto;
    .catalog {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .newCard{
        margin: 0.25rem;
        box-shadow: -1px 7px 27px -6px rgba(0,0,0,0.75);
        .subCard {
            padding: 1rem;
        }
    }
}

footer{
    background-color:#0e3e57;
    padding: 3rem;
    h5 {
        color: white;
        text-align: center;
    }
    ul {
        color: white;
        li {
            list-style: none;
            font-size: 0.8rem;
            
            &:first-child {
                font-size: 1.3rem;
            }
            i {
                margin-right: 1rem;
            }
        }
    }
    form {
        input {
            width: 75%;
            border: none;
            border-radius: 5px;
            padding: 0.4rem 0;
            margin-right: 0.2rem;
        }

    }
}